@import 'styles/_variables';

.primary {
    .write {
        background-color: $lightGreen;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        border: 1px solid white;

        &:hover {
            color: teal;
            background-color: white;
            border: 1px solid teal;
        }
    }
}